:host {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  .btn-save {
    margin: 0 0 22px 17px;
    width: fit-content;
  }

  .configuration {
    flex: 1;

    ::ng-deep prizm-card {
      height: calc(100% - 60px);

      ::ng-deep .body {
        height: 100%;

        .input-layout {
          height: calc(100% - 30px);
        }
      }
    }
  }
}