<prizm-input-layout label="Выбор конфигурационного файла" [outer]="true">
  <input
    #input
    prizmInput
    placeholder="Запрос"
    (enter)="search($event)"
    [formControl]="requiredInputControl"
  />
  <button
    prizm-input-right
    prizmInputIconButton="sort-zoom-in"
    (click)="search(input.value)"
    [interactive]="true"
  ></button>
  <ng-template prizmInputStatusText [control]="input"></ng-template>
  <prizm-input-status-subtext prizm-input-subtext [control]="input">
  </prizm-input-status-subtext>
</prizm-input-layout>
<div class="navigation">
  <prizm-scrollbar class="scrollbar">
    <prizm-navigation-menu
      [items]="items"
      (activeItemChanged)="activeItemChanged($event)"
    ></prizm-navigation-menu>
  </prizm-scrollbar>
</div>
