:host {
  flex: 1;
  height: 100%;
  background-color: var(--prizm-grey-g11-g3);

  .header {
    display: flex;

    .btn-add {
      height: fit-content;
    }
  }

  .loader {
    height: calc(100% - 83px);
  }

  .navigation {
    height: calc(100% - 83px);
    overflow: hidden;
    position: relative;

    .scrollbar {
      height: 100%;
    }
  }
}
