<prizm-input-layout label="Выбор конфигурационного файла" [outer]="true">
  <input
    #input
    prizmInput
    placeholder="Запрос"
    (enter)="search($event)"
    (onClear)="clear()"
  />
  <button
    prizm-input-right
    prizmInputIconButton="sort-zoom-in"
    [interactive]="true"
    (click)="search(input.value)"
  ></button>
</prizm-input-layout>
<prizm-loader class="loader" *ngIf="isLoading" [showLoader]="isLoading">
</prizm-loader>
<div class="navigation">
  <prizm-scrollbar class="scrollbar">
    <prizm-navigation-menu
      [items]="items"
      (activeItemChanged)="changeActiveItem($event)"
    ></prizm-navigation-menu>
  </prizm-scrollbar>
</div>
